HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=R6Vs4XZNsSJg44t5ebxqTxjZGSZopq63
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=srsnova
DB_DATABASE=srs
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt